<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">个人性格</h2>

 <div class="row">
    <div class="ref-info">
                    <blockquote class="ref-cont clear-mrg">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; 我的性格比较外向，乐于助人、在工作和生活中积极照顾身边的同学和朋友
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;思维宽泛，想法天马行空，有较强的逻辑能力。
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;有一定的组织能力，也有统筹安排的思维。
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; 爱好打游戏，跑步等
                        </p>
                    </blockquote>
     </div>
     
 </div>
</section><!-- .section -->
